/* Additional Styling on Top of Bootstrap */

h1, h2, h3, h4, h5, h6 {
    color: #158FD6;
}

.content {
    min-height: 90%;
}

.banner {
    background-color: #E16F06;
    color: white;
}

.banner-container {
    position: relative;
}

#banner-logo {
    width: 300px;
    left: 0px;
    padding: 10px;
}

#banner-title {
    color: white;
    clear: both;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.banner-title-large {
    font-size: x-large;
}

.banner-title-small {
    font-size: large;
}

.navbar-csoutreach {
    position: relative;
    background-color: #FCA811;
    color: white;
    
    -webkit-box-shadow: 0px 1px 5px 0px rgba(160, 160, 160, 0.5);
    -moz-box-shadow:    0px 1px 5px 0px rgba(160, 160, 160, 0.5);
    box-shadow:         0px 1px 5px 0px rgba(160, 160, 160, 0.5);
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

#carousel-cs-outreach {
    padding-bottom: 100px;
}

.carousel-caption {
    background-color: black;
    opacity: .7;
}

.carousel-control {
    color: orange;
}


/*CSS Styles for About Us Page*/
.missionHdr{
    margin-bottom:58px;
    text-align:center;
    width:80%;
    margin:0 auto 30px

}

.thumbnail{
background-color: transparent;
border: 0;
text-align: center;
padding-top: 25px;
padding-bottom: 15px;
margin-bottom: 35px;
-webkit-border-radius: 8px;
border-radius: 8px;
margin-left:10px;
}

.thumbnail:hover {
background-color: #FCA811;
}


.thumbnail .circle {
border-radius: 50%;
background-color: #f7f7f7;
width: 155px;
height: 155px;
margin: 0 auto;
}

.thumbnail:hover h3 a {
color: #000;
}

#footer span a{
    color: #000;
}

/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    /* The html and body elements cannot have any padding or margin. */
}

/* The top-level asp form must also be height: 100% or else the sticky footer does not work */
#pageform {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -75px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 75px;
}
#footer {
    width: 100%;
    background-color: #E16F06;
    color: white;
}

/* Additional Table Styles */

.card-table tr {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(160, 160, 160, 0.5);
    -moz-box-shadow:    0px 1px 5px 0px rgba(160, 160, 160, 0.5);
    box-shadow:         0px 1px 5px 0px rgba(160, 160, 160, 0.5);
}
