<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCSEntities" connectionString="metadata=res://*/DBEntity.DBModel.csdl|res://*/DBEntity.DBModel.ssdl|res://*/DBEntity.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\WPLCSOutreach\CSOutreach\CSOutreach\App_Data\DataCSOutreach.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>